* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

body{
    width: 100%;
}

/* Inicio nav */
nav{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: aquamarine;
    align-items: center;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: green;
}
nav a:hover{
    color: blue;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}
/* FIN nav */

.titulo{
    font-size: 1.5em;
    color: darkcyan;
    text-align: center;
    padding: 10px;
}

/* inicio header */
header{
    background-image: url("images/viajes.jpg");
    background-size: cover;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
header h1{
    font-size: 3em;
    color: white;
    text-shadow: 4px 4px 5px black;
}
header p{
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 3px black;
}
/* FIN header */

/* inicio quienes-somos */
#quienes{
    background-color: antiquewhite;
}
#contenedor-quienes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#derecha{
    width: 35%;
    padding: 10px;
}
#izquierda{
    width: 35%;
    padding: 10px;
}
/* FIN quienes-somos */

/* inicio destinos */
#nuestros-destinos{
    padding: 10px;
}
#contendor-destinos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.destino{
    width: 30%;
    text-align: center;
}
.destino img{
    width: 90%;
    box-shadow: 5px 5px 5px black;
}
/* FIN destinos */

/* inicio footer */
footer{
    background-color: gray;
}
#contenedor-redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contenedor-redes div{
    width: 30%;
    padding: 40px;
    text-align: center;
}
#contenedor-redes h5{
    padding: 10px;
}
/* FIN footer */

@media (max-width: 600px) {
    
    nav{
        display: block;
    }
    nav a{
        display: block;
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid white;
    }



    #contenedor-quienes{
        display: block;
    }
    #derecha{
        width: 100%;
        padding: 10px;
    }
    #izquierda{
        width: 100%;
        padding: 10px;
        text-align: center;
    }


    #contendor-destinos{
        display: block;
        justify-content: space-around;
    }
    .destino{
        width: 100%;
        text-align: center;
    }


    #contenedor-redes{
        display: block;
        justify-content: center;
    }
    #contenedor-redes div{
        width: 100%;
        padding: 5px;
        text-align: center;
    }
    #contenedor-redes h5{
        text-align: center;
    }
}

@media (min-width: 601px) and (max-width: 800px){
    #contendor-destinos{
        display: flex;
        justify-content: space-around;
    }
    .destino{
        width: 40%;
        text-align: center;
    }
}